body {
    background-image: url("forest.jpg");
    background-size: cover;
}

table {
    background-color: #ffffff90;
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border-bottom: 1.5px solid #00000070;
    padding: 10px;
    text-align: left;
}

th {
    font-family: Arial, Helvetica, sans-serif;
    font: bold;
}

tr:nth-child(even) {
    background-color: #00000030
}

h2 {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#footer1 {
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    bottom: 0;
    background-color: #00000050;
}

#bottomName {
    color: #ffffff;
    text-align: right;
    padding-right: 10px;
}

#deletebutton {
    border: 1px solid #00000070;
    background-color: #ac2d2dbd;
    padding: 5px 20px;
    border-radius: 7px;
}

#changebutton {
    border: 1px solid #00000070;
    background-color: #cbd449bd;
    padding: 5px 20px;
    border-radius: 7px;
}

#changebutton:hover {
    background-color: #00000050;
}

#deletebutton:hover {
    background-color: #00000050;
}